page-phone-number-verified {
    .toolbar-background {
        background: #222222;
      }
      .toolbar-title{
        color: #ffffff;
        text-align: center;
      }
      .item-content {
        background:#222222;
    }
}
