page-signup {
    .Googlebutton{
        color: white;
        background: #DE5543;
        position: relative;
        text-align: center;
        width: 70%;
        height: 35px;
        margin-top: 3%;
        margin-left: 15%;
        border-radius: 10px;
    }
    
    .Facebookbutton{
        color:  white;
        background: #3B5998;
        position: relative;
        text-align: center;
        width:70%;
        height: 35px;
        margin-top: 3%;
        margin-left: 15%;
        border-radius: 10px;
    }
    .googleicon{
        padding: 10px;   
    }
    .facebookicon{
        padding: 10px;  
    }
    .line{
        width: 112px;
        height: 47px;
        border-bottom: 1px solid black;
        position: absolute;
        }
        .Signinbutton{
           background:  white;
             color: #00aeef;
            position: relative;
            text-align: center;
            width:50%;
            height:40px;
            margin-top: 5%;
            margin-left:25%;
            border-radius: 10px;  
            font-weight: 700;  
        }
    .item {
        background:#2b2b2b;
             color: white;   
    }
    .forgotpassword{
        color: white;
        margin-top: 30px;
        font-size: 80%;
text-align: center;
    }
    .toolbar-background {
        background: #222222;
      }
      .toolbar-title{
        color: #ffffff;
        text-align: center;
      }
      .item-content {
        background:#222222;
    }
    .text-input{
        border: none;
    }
}
